# VS code / Editors
.pio/
.vscode/

# Fusion 360 / CAD temp files
*.f3d.bak
*.f3z.bak

# KiCAD
*.kicad_prl
*.kicad_prl-bak
*-backups/
*.autosave

# macOS
.DS_Store

# Windows
Thumbs.db

# Raspberry Pi
.venv/
__pycache__/

# Ultralytics YOLO
*.cache